.assets-view {

  margin-bottom: 25px;

  .client-col {
    // background-color: red;

    .client-card {
      box-shadow: 3px 3px 0 $box-shadow-color;

    }

    .card {
      background-color: #fff;
    }

    .client-avatar {
      width: 100px;
      height: 100px;

      margin-bottom: 10px;
      margin-left: 50%;

      border-radius: 50%;

      transform: translate(-50%, 0);

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;

        font-weight: 900;
        font-size: 3.5rem;

        transform: translate(-50%, -50%);
      }
    }

    .client-details {
      font-size: 1.6rem;
      text-align: center;

      > .title {
        font-size: 2rem;
        font-weight: 700;
      }

      > .info {
        font-size: 1.3rem;
        font-weight: 300;
      }
    }

    .client-options {

      > .option {
        display: inline-block;
        cursor: pointer;

        > .wrapper {
          padding: auto 20px;
        }

        i {
          font-size: 2rem;

          &:before {
            margin-left: 50%;
            transform: translate(-50%, 0);
          }
        }

        p {
          // display: none;
          margin: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 300;
        }

      }

    }

  }

  .content-col {

    .wrapper {
      position: relative;
      padding: 10px;

      box-shadow: 3px 3px 0 $box-shadow-color;
      background-color: $glass-background-color;
      // border-radius: 3px;

      &.with-arrow:before {
        position: absolute;
        left: -40px;
        content: "";

        border: solid 20px transparent;
        border-right-color: $glass-background-color;
      }

    }

  }

}
