<div class="flexible-table">
  <div class="table-head container-fluid">
    <div class="table-row row" ng-click="openRow()">
      <div class="col-md-2 table-cell">Lote</div>
      <div class="col-md-2 table-cell">Tamanho</div>
      <div class="col-md-2 table-cell">Origem Cid.</div>
      <div class="col-md-2 table-cell">Origem País</div>
      <div class="col-md-2 table-cell">Material</div>
      <div class="col-md-2 table-cell">Tipo</div>
    </div>
  </div>
  <div class="table-body container-fluid">
    <div class="table-row row" ng-click="openRow(row._id)" ng-repeat="row in data">
      <div class="col-md-2 table-cell">{{row._id}}</div>
      <div class="col-md-2 table-cell">{{row.info.size}}</div>
      <div class="col-md-2 table-cell">{{row.info.suppCity}}</div>
      <div class="col-md-2 table-cell">{{row.info.suppCountry}}</div>
      <div class="col-md-2 table-cell">{{row.info.feedstock}}</div>
      <div class="col-md-2 table-cell">{{row.info.clothesType}}</div>
    </div>
  </div>
</div> <!-- END TABLE -->
