.asset-view {

  .content-col {

    // height: 80vh;

    position: absolute;
    top: 55%;
    left: 160px;
    transform: translate(0, -50%);

    .wrapper {
      height: 100%;

      position: relative;
      padding: 25px;

      box-shadow: 3px 3px 0 $box-shadow-color;
      background-color: $glass-background-color;
      // border-radius: 3px;

      .options {
        position: absolute;
        top: 80px;
        right: -90px;
        transform: translate(-50%, -50%);
        z-index: 5001;

        background-color: #fff;
        box-shadow: 3px 3px 0 $box-shadow-color;

        > .option {
          width: 60px;
          height: 60px;
          padding: 15px;
          font-size: 3rem;

          cursor: pointer;
          transition: all .2s;

          border-bottom: solid 1px $box-shadow-color;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: $hover-background-color;
          }
        }
      }

      &.with-arrow:before {
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translate(0, -50%);

        content: "";

        border: solid 20px transparent;
        border-right-color: $glass-background-color;
      }

    }

  }

}
